:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: #242424;
  background-color: crimson;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: Eorzean;
  src: url(public/Eorzea.ttf);
}

#root {
  min-height: 100%;
  min-width: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;

  box-shadow: inset -250px -250px 1700px 10px rgba(0, 0, 0, 0.897),
    inset 250px 250px 1700px 10px rgba(0, 0, 0, 0.897);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: none;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #242424;
}

.randBtn {
  background: rgba(219, 1, 45, 0.24);
  border-color: #242424;
}
.randBtn:hover {
  background: rgba(219, 1, 45, 0.555);
}
.randBtn:focus,
.randBtn:focus-visible {
  border: 2px solid rgb(255, 0, 51);
}

#container {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
}

#emblem {
  width: 4em;
  height: 4em;
  margin-bottom: 2em;
}

.roll {
  animation-name: spin;
  animation-duration: 6ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.jobTypeBtn,
.jobTypeBtn img {
  width: 3em;
  height: 3em;
  margin-top: 0.7em;
  margin-left: 0.2em;
  padding: 0;
  border: none;
  background: none;
}
.jobTypeBtn:hover {
  transform: scale(1.1);
}

@media (min-width: 1201px) {
  body {
    box-shadow: inset -150px -150px 1300px 5px rgba(0, 0, 0, 0.897),
      inset 150px 150px 1300px 5px rgba(0, 0, 0, 0.897);
  }
}

@media (max-width: 1200px) {
  body {
    box-shadow: inset -10px -10px 800px 5px rgba(0, 0, 0, 0.897),
      inset 10px 10px 800px 5px rgba(0, 0, 0, 0.897);
  }
}

@media (max-width: 600px) {
  body {
    box-shadow: inset -10px -10px 50px 5px rgba(0, 0, 0, 0.897),
      inset 10px 10px 50px 5px rgba(0, 0, 0, 0.897);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
